<%- include("parts/header") %>
<%- include("parts/navbar") %>



<div class="container m-5 text-center">
    <p class="alert alert-danger">Something Went Wrong <br><a href="/" class="text-decoration-none d-block mt-3" style="font-weight: bold;">Back To Home</a></p>
</div>



<%- include("parts/footer") %>
